.like-item {
   font-size: 0px;
    border: dotted;

}

/*.one-product {
    margin: 20px;
    background-color: #fff;
    border: 3px solid #888899;
    color: #000;
}*/

@media screen and (max-width: 520px){
    body {
        background-color: #ffffff;

    }
}

.header__title {
    display: inline-block;
}